name: ci

on:
  push:
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - "NOTICE"

jobs:
  ci:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node:
          - "25"
          - "24"
          - "22"
          - "20"
        typescript:
          - "5.9"
          - "5.8"
          - "5.7"
          - "5.6"
          - "5.5"
          - "5.4"
          - "5.3"
          - "5.2"
          - "5.1"
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.node }}
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - run: pnpm --version
      - run: pnpm install
      - run: pnpm add -E -D typescript@${{ matrix.typescript }} -w
      - run: pnpm run build
      - run: pnpm run lint
      - run: pnpm run typecheck
      - run: pnpm run test

  slack_notify_failed:
    needs: [ci]
    runs-on: ubuntu-24.04
    if: failure()
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: sora-js-sdk
          SLACK_COLOR: danger
          SLACK_TITLE: Failed
          SLACK_ICON_EMOJI: ":japanese_ogre:"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
