name: e2e-test

on:
  workflow_dispatch:
  push:
    branches:
      - develop
      - feature/*
    paths:
      - playwright.config.ts
      - .github/workflows/e2e-test.yml
      - e2e-tests/**
  schedule:
    # UTC 時間で毎日 2:00 (JST で 11:00) に実行、月曜日から金曜日
    # - cron: "0 2 * * 1-5"
    # UTC 時間で平日 1-7 時 (JST で 10:00-16:00) に 30 分ごとに実行
    - cron: "0,30 1-7 * * 1-5"

jobs:
  e2e-test:
    strategy:
      fail-fast: false
      matrix:
        node:
          # # Node 26 LTS がリリースされたら 26 に更新する
          # - "25"
          # # 30 Apr 2028 End of Life
          # - "24"
          # # 30 Apr 2027 End of Life
          # - "22"
          # # 30 Apr 2026 End of Life
          - "20"
        os:
          - "ubuntu-24.04"
          # - "macos-15"
          # - "windows-2025"
        browser:
          - name: "Chromium"
            type: "chromium"
          # - name: "Google Chrome"
          #   type: "chrome"
          # - name: "Google Chrome Beta"
          #   type: "chrome-beta"
          # Playwright での Edge の取得が不安定なため一時的にコメントアウトする
          # - name: "Microsoft Edge"
          #   type: "msedge"
          # - name: "Microsoft Edge Beta"
          #   type: "msedge-beta"
          # - name: "Microsoft Edge Dev"
          #   type: "msedge-dev"
    env:
      VITE_TEST_SIGNALING_URL: ${{ secrets.TEST_SIGNALING_URL }}
      VITE_TEST_CHANNEL_ID_PREFIX: ${{ secrets.TEST_CHANNEL_ID_PREFIX }}
      VITE_TEST_API_URL: ${{ secrets.TEST_API_URL }}
      VITE_TEST_SECRET_KEY: ${{ secrets.TEST_SECRET_KEY }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6
      - uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: ${{ secrets.TS_TAGS }}
          ping: raspberrypi.tail095d0.ts.net
          # ping: ${{ secrets.TEST_TS_DOMAIN }}
          # use-cache: "false"
      # - uses: actions/setup-node@v6
      #   with:
      #     node-version: ${{ matrix.node }}
      # - uses: pnpm/action-setup@v4
      #   with:
      #     version: 10
      # - run: pnpm --version
      # - run: pnpm install
      # - run: pnpm run build
      # - run: pnpm playwright install ${{ matrix.browser.type }} --with-deps
      # - run: pnpm playwright test --project="${{ matrix.browser.name }}" e2e-tests/tests/type_close.test.ts
      #   env:
      #     VITE_TEST_CHANNEL_ID_SUFFIX: _${{ github.run_id }}_${{ matrix.node }}
      # - run: pnpm playwright test --project="${{ matrix.browser.name }}" e2e-tests/tests/reconnect.test.ts
      #   env:
      #     VITE_TEST_CHANNEL_ID_SUFFIX: _${{ github.run_id }}_${{ matrix.node }}
      # - uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: playwright-report
      #     path: playwright-report/
      #     retention-days: 30

  # slack_notify_succeeded:
  #   needs: [e2e-test]
  #   runs-on: ubuntu-24.04
  #   if: success()
  #   steps:
  #     - name: Slack Notification
  #       uses: rtCamp/action-slack-notify@v2
  #       env:
  #         SLACK_CHANNEL: sora-js-sdk
  #         SLACK_COLOR: good
  #         SLACK_TITLE: Succeeded
  #         SLACK_ICON_EMOJI: ":star-struck:"
  #         SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
  slack_notify_failed:
    needs: [e2e-test]
    runs-on: ubuntu-24.04
    if: failure()
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: sora-js-sdk
          SLACK_COLOR: danger
          SLACK_TITLE: Failed
          SLACK_ICON_EMOJI: ":japanese_ogre:"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
