name: e2e-test

on:
  push:
    branches:
      - develop
      - feature/*
    paths-ignore:
      - "**.md"
      - "LICENSE"
      - "NOTICE"
  schedule:
    # UTC 時間で毎日 2:00 (JST で 11:00) に実行、月曜日から金曜日
    - cron: "0 2 * * 1-5"

jobs:
  e2e-test:
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        node:
          - "20"
          # - "22"
          # - "23"
        browser:
          - name: "Google Chrome"
            type: "chrome"
            version: "stable"
          - name: "Google Chrome Beta"
            type: "chrome"
            version: "beta"
          # - name: "Google Chrome Dev"
          #   type: "chrome"
          #   version: "dev"
          # - name: "Google Chrome Canary"
          #   type: "chrome"
          #   version: "canary"
          - name: "Microsoft Edge"
            type: "msedge"
            version: "stable"
          - name: "Microsoft Edge Beta"
            type: "msedge"
            version: "beta"
          # - name: "Microsoft Edge Dev"
          #   type: "msedge"
          #   version: "dev"
          # - name: "Microsoft Edge Canary"
          #   type: "edge"
          #   version: "canary"
    env:
      VITE_TEST_SIGNALING_URL: ${{ secrets.TEST_SIGNALING_URL }}
      VITE_TEST_WHIP_ENDPOINT_URL: ${{ secrets.TEST_WHIP_ENDPOINT_URL }}
      VITE_TEST_WHEP_ENDPOINT_URL: ${{ secrets.TEST_WHEP_ENDPOINT_URL }}
      VITE_TEST_CHANNEL_ID_PREFIX: ${{ secrets.TEST_CHANNEL_ID_PREFIX }}
      VITE_TEST_API_URL: ${{ secrets.TEST_API_URL }}
      VITE_TEST_SECRET_KEY: ${{ secrets.TEST_SECRET_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      - if: matrix.browser.type == 'chrome'
        uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: ${{ matrix.browser.version }}
      - if: matrix.browser.type == 'msedge'
        uses: browser-actions/setup-edge@v1
        with:
          edge-version: ${{ matrix.browser.version }}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - run: pnpm --version
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm exec playwright test --project="${{ matrix.browser.name }}"
        env:
          PLAYWRIGHT_BROWSERS_PATH: ${{ steps.setup-chrome.outputs.chrome-path }}
          VITE_TEST_CHANNEL_ID_SUFFIX: _${{ matrix.node }}
        if: matrix.browser.type == 'chrome'
      - run: pnpm exec playwright test --project="${{ matrix.browser.name }}"
        env:
          PLAYWRIGHT_BROWSERS_PATH: ${{ steps.setup-msedge.outputs.msedge-path }}
          VITE_TEST_CHANNEL_ID_SUFFIX: _${{ matrix.node }}
        if: matrix.browser.type == 'msedge'
      # - uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: playwright-report
      #     path: playwright-report/
      #     retention-days: 30

  # slack_notify_succeeded:
  #   needs: [e2e-test]
  #   runs-on: ubuntu-24.04
  #   if: success()
  #   steps:
  #     - name: Slack Notification
  #       uses: rtCamp/action-slack-notify@v2
  #       env:
  #         SLACK_CHANNEL: sora-js-sdk
  #         SLACK_COLOR: good
  #         SLACK_TITLE: Succeeded
  #         SLACK_ICON_EMOJI: ":star-struck:"
  #         SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
  slack_notify_failed:
    needs: [e2e-test]
    runs-on: ubuntu-24.04
    if: failure()
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: sora-js-sdk
          SLACK_COLOR: danger
          SLACK_TITLE: Failed
          SLACK_ICON_EMOJI: ":japanese_ogre:"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
