name: e2e-test-canary

# Chrome と Edge の Canary バージョンでのテスト
# Playwright 経由では Canary バージョンのブラウザをインストールできない
# Homebrew 経由でインストールしている

on:
  push:
    branches:
      - develop
      - feature/*
    paths:
      - playwright.config.ts
      - .github/workflows/e2e-test-canary.yml
      - e2e-tests/**
  schedule:
    # UTC 時間で毎日 2:00 (JST で 11:00) に実行、月曜日から金曜日
    - cron: "0 2 * * 1-5"

jobs:
  e2e-test-canary:
    strategy:
      matrix:
        # Nodejs のテストではないので一番古い LTS である 20 でのみ動作確認する
        node:
          - "20"
        browser:
          - name: "Google Chrome Canary"
            type: "google-chrome@canary"
          - name: "Microsoft Edge Canary"
            type: "microsoft-edge@canary"
    env:
      VITE_TEST_SIGNALING_URL: ${{ secrets.TEST_SIGNALING_URL }}
      VITE_TEST_CHANNEL_ID_PREFIX: ${{ secrets.TEST_CHANNEL_ID_PREFIX }}
      VITE_TEST_API_URL: ${{ secrets.TEST_API_URL }}
      VITE_TEST_SECRET_KEY: ${{ secrets.TEST_SECRET_KEY }}
    runs-on: macos-15
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6
      - uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: ${{ secrets.TS_TAGS }}
          ping: ${{ secrets.TEST_TS_DOMAIN }}
          version: latest
          use-cache: true
      - uses: Homebrew/actions/setup-homebrew@master
      - run: brew install --cask ${{ matrix.browser.type}}
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - run: pnpm --version
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm playwright test --project="${{ matrix.browser.name }}"
        env:
          VITE_TEST_CHANNEL_ID_SUFFIX: _${{ github.run_id }}_${{ matrix.node }}
      # - uses: actions/upload-artifact@v4
      #   if: always()
      #   with:
      #     name: playwright-report
      #     path: playwright-report/
      #     retention-days: 30

  # slack_notify_succeeded:
  #   needs: [e2e-test]
  #   runs-on: ubuntu-24.04
  #   if: success()
  #   steps:
  #     - name: Slack Notification
  #       uses: rtCamp/action-slack-notify@v2
  #       env:
  #         SLACK_CHANNEL: sora-js-sdk
  #         SLACK_COLOR: good
  #         SLACK_TITLE: Succeeded
  #         SLACK_ICON_EMOJI: ":star-struck:"
  #         SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
  slack_notify_failed:
    needs: [e2e-test-canary]
    runs-on: ubuntu-24.04
    if: failure()
    steps:
      - name: Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_CHANNEL: sora-js-sdk
          SLACK_COLOR: danger
          SLACK_TITLE: Failed
          SLACK_ICON_EMOJI: ":japanese_ogre:"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
